
.aside{
    position: sticky;
    top: 30px;
    width: calc(30% - 20px);
    height: 100%;
    padding: 30px 20px;
    font-size: 20px;
    border: 1px solid #DEDCFF;
    border-radius: 10px;
}
ul li:not(:last-child){
    margin-bottom: 10px;
}
li{
    font-size: 20px;
}
li a.active{
    color: #A72DFF;
}